<mat-nav-list>
    <div class="profile">
        <img src="https://cdn.dribbble.com/users/1077075/screenshots/10945047/media/70cd58ac294ac9e45e55913702df2472.png"
            alt="User Picture"><br>
        <div header>
            <br>
            <h4>User's Full Name</h4>
            <h4>User's E-mail Adress </h4>
        </div>
    </div>

    <mat-divider></mat-divider>

    <h3 matSubheader fxLayout="row" fxLayoutAlign="center center"> Pages </h3>

    <a mat-list-item [routerLink]="['/']" routerLinkActive="list-item-active">
        <mat-icon>dashboard</mat-icon>
        Dashborad
    </a>

    <a mat-list-item [routerLink]="['/posts']" routerLinkActive="list-item-active">
        <mat-icon>library_books</mat-icon>
        Posts
    </a>

    <a mat-list-item [routerLink]="['/users']" routerLinkActive="list-item-active">
        <mat-icon>people</mat-icon>
        Users
    </a>

    <mat-divider></mat-divider>

    <h3 matSubheader fxLayout="row" fxLayoutAlign="center center"> Tools </h3>

    <a mat-list-item [routerLink]="['/adminsettings']" routerLinkActive="list-item-active">
        <mat-icon>settings</mat-icon>
        Admin Settings
    </a>

</mat-nav-list>