<mat-nav-list>
    <div class="profile" *ngFor="let admin of adminservice.Admin">
        <img src="{{admin.image}}" alt="User Picture"><br>
        <div header>
            <br>
            <h4>{{admin.prenom}} {{admin.nom}}</h4>
            <h4>{{admin.mail}}</h4>
        </div>
    </div>

    <mat-divider></mat-divider>

    <h3 matSubheader fxLayout="row" fxLayoutAlign="center center"> Pages </h3>

    <a mat-list-item [routerLink]="['/']" routerLinkActive="list-item-active">
        <mat-icon>dashboard</mat-icon>
        Dashborad
    </a>
    <a mat-list-item [routerLink]="['/users']" routerLinkActive="list-item-active">
        <mat-icon>people</mat-icon>
        Users
    </a>

    <a mat-list-item [routerLink]="['/posts']" routerLinkActive="list-item-active">
        <mat-icon>library_books</mat-icon>
        Posts
    </a>

    <a mat-list-item [routerLink]="['/comments']" routerLinkActive="list-item-active">
        <mat-icon>comment</mat-icon>
        Comments
    </a>

    <mat-divider></mat-divider>

    <h3 matSubheader fxLayout="row" fxLayoutAlign="center center"> Tools </h3>

    <a mat-list-item [routerLink]="['/adminsettings']" routerLinkActive="list-item-active">
        <mat-icon>settings</mat-icon>
        Settings
    </a>

</mat-nav-list>