<mat-toolbar class="toolbar">
    <mat-toolbar-row>
        <button #tooltip="matTooltip" matTooltip="Toogle SideNav Menu" mat-icon-button (click)="ToogleSidebar()">
            <mat-icon>menu</mat-icon>
        </button>

        <span class="zanimo" #tooltip="matTooltip" matTooltip="Zanimo Logo"> Zanimo </span>

        <div fxFlex fxLayout="row" fxLayoutAlign="flex-end">
            <ul fxLayout="row" fxLayoutGap="20px">
                <li>
                    <button mat-button [matMenuTriggerFor]="menu" #tooltip="matTooltip" matTooltip="Menu">
                        <mat-icon> person </mat-icon>
                    </button>

                    <mat-menu #menu="matMenu">
                        <button mat-menu-item [routerLink]="['/AdminSettings']" #tooltip="matTooltip"
                            matTooltip="Admin Settings" routerLinkActive="list-item-active">
                            <mat-icon> settings </mat-icon>
                            Settings
                        </button>

                        <button mat-menu-item #tooltip="matTooltip" matTooltip="Log Out" (click)="opendialog()">
                            <mat-icon> exit_to_app </mat-icon>
                            Sign Out
                        </button>
                    </mat-menu>


                </li>
            </ul>
        </div>

    </mat-toolbar-row>
</mat-toolbar>