mat-grid-tile {
    background-color: rgb(218, 213, 176);
}

.profile {
    text-align: center;
    padding: 8px 8px 8px 8px;
}

img {
    width: 90px;
    height: 90px;
    border-radius: 50%;
    object-fit: cover;
}
h1 {
    color: #3f51b5;
}

.infor {
    padding: 15px;
    border: 1px solid #3f51b5;
}
