<mat-dialog-content fxFlexFill>
    <div fxLayoutAlign="center center">
        <div fxLayout="row" class="infor" fxLayoutAlign="center">
            <div>
                <div class="profile">
                    <img src="{{User.imageuser}}" alt="UserImage" /><br>
                </div>
                <div>
                    <h4><span>Name : </span> {{User.nom}}</h4>
                    <h4><span>Last Name : </span> {{User.prenom}}</h4>
                    <h4><span>E-Mail :</span> {{User.mail}}</h4>
                    <h4><span>Phone Number : </span> {{User.numtel}}</h4>
                    <h4><span>Password : </span> {{User.motdepasse}}</h4>
                </div>
                <div fxLayoutAlign="center center" fxLayoutGap="10px">
                    <button mat-icon-button color="warn">
                        <mat-icon>
                            block
                        </mat-icon>
                    </button>
                </div>
            </div>
        </div>
    </div>
</mat-dialog-content>

<!--  <div fxLayout="row" fxFlex>
        <mat-card>
            <div>
                <form #userform="ngForm" (ngSubmit)="onSubmit(userform)">
                    <input type="hidden" name="_id" #_id="ngModel" [(ngModel)]="Userservice.SelectedUser._id">

                    <mat-form-field appearance="outline">
                        <mat-label> nom </mat-label>
                        <input matInput placeholder="Your name" name="nom" #nom="ngModel"
                            [(ngModel)]="Userservice.SelectedUser.nom" />
                    </mat-form-field>
                    <br>
                    <mat-form-field appearance="outline">
                        <mat-label> prenom </mat-label>
                        <input matInput placeholder="Your prenom" name="prenom" #prenom="ngModel"
                            [(ngModel)]="Userservice.SelectedUser.prenom" />
                    </mat-form-field>
                    <br>
                    <mat-form-field appearance="outline">
                        <mat-label> mail </mat-label>
                        <input matInput placeholder="Your mail" name="mail" #mail="ngModel"
                            [(ngModel)]="Userservice.SelectedUser.mail" />
                    </mat-form-field>
                    <br>
                    <mat-form-field appearance="outline">
                        <mat-label> numtel </mat-label>
                        <input matInput placeholder="Your phone" name="numtel" #numtel="ngModel"
                            [(ngModel)]="Userservice.SelectedUser.numtel" />
                    </mat-form-field>
                    <br>
                    <mat-form-field appearance="outline">
                        <mat-label> password </mat-label>
                        <input matInput placeholder="Your password" name="motdepasse" #motdepasse="ngModel"
                            [(ngModel)]="Userservice.SelectedUser.motdepasse" />
                    </mat-form-field>
                </form>
            </div>

            <mat-card-actions align="center">
                <button mat-button color="warn" type="button" (click)="resetdata(userform)"> Cancel
                </button>
                <button mat-button color="primary" type="submit"> Save </button>
            </mat-card-actions>
        </mat-card>
    </div>
-->