.postimage {
    background-size: cover;
    width: 210px;
}

.post {
    width: 210px;
    margin: 10px;
    padding: 10px;
}

.title {
    text-align: center;
    color: #b92b27;
    color: -webkit-linear-gradient(to right, #1565c0, #b92b27);
    color: linear-gradient(to right, #1565c0, #b92b27);
} /*
.container {
    display: flex;
    justify-content: space-between;
}*/

.content {
    margin-top: 18px;
    margin-bottom: 25px;
}
.content > mat-card {
    width: 50%;
}
