<!--<div fxLayoutAlign="center">
    <mat-form-field #tooltip="matTooltip" matTooltip="Search For a Comment" appearance="outline">
        <mat-label>Search for a Comment</mat-label>
        <input matInput placeholder="Enter Something">
        <mat-icon matSuffix>search</mat-icon>
    </mat-form-field>
</div>
<mat-divider></mat-divider> -->
<div>
    <div *ngFor="let user of Userservice.User" fxLayoutGap="10px grid ">
        <div *ngFor="let post of user.posts" fxLayout="row wrap" fxLayoutGap="10px grid" fxLayoutAlign=" center center">
            <div *ngFor="let comm of post.comments" fxFlex="25" fxFlex.sm="33.3" fxFlex.xs="50">
                <div>
                    <mat-card>
                        {{comm.comment}}
                        <div fxLayoutAlign="center">
                            <button mat-icon-button color="warn" #tooltip="matTooltip" matTooltip="Delete this Comment"
                                (click)="DeleteComment(user,post._id,comm._id)">
                                <mat-icon>
                                    delete
                                </mat-icon>
                            </button>
                        </div>
                    </mat-card>
                </div>
            </div>
        </div>
    </div><br><br>
</div>