<!-- <div fxLayoutAlign="center">
    <mat-form-field appearance="outline" #tooltip="matTooltip" matTooltip="Search For a User">
        <mat-label>Search for a User</mat-label>
        <input matInput placeholder="Enter User's Name " (keyup)="applyFilter($event)">
        <button mat-icon-button matSuffix>
            <mat-icon>search</mat-icon>
        </button>
    </mat-form-field>
</div>
<mat-divider></mat-divider>
-->
<div fxLayout="row wrap inline" fxLayoutAlign="center center" fxLayoutGap="30px">
    <mat-card *ngFor="let user of Userservice.User">
        <div fxLayoutAlign="center center">
            <div class="info" fxLayout="column" fxLayoutAlign="center center">
                <div>
                    <img class="userimage" src="{{user.imageuser}}" alt="User Image">
                </div>
                <div class="user">
                    <h3>{{user.nom}} {{user.prenom}}</h3>
                </div>
                <div fxLayoutGap=" 5px">
                    <button mat-icon-button color="primary" #tooltip="matTooltip" matTooltip="Show User Details"
                        (click)="opendialoguser(user)">
                        <mat-icon>
                            person
                        </mat-icon>
                    </button>

                    <button mat-icon-button color="warn" #tooltip="matTooltip" matTooltip="Ban this User"
                        (click)="BanUser(user)">
                        <mat-icon>
                            lock
                        </mat-icon>
                    </button>

                    <button mat-icon-button color="primary" #tooltip="matTooltip" matTooltip="UnBan this User"
                        (click)="UnBanUser(user)">
                        <mat-icon>
                            lock_open
                        </mat-icon>
                    </button>

                    <button mat-icon-button color="warn" #tooltip="matTooltip" matTooltip="Remove this User"
                        (click)="delete(user._id)">
                        <mat-icon>
                            person_remove
                        </mat-icon>
                    </button>
                </div>
            </div>
        </div>
    </mat-card><br>
</div><br><br>

<!--
    <mat-card>
        <div fxLayout="column" fxLayoutAlign="space-around center">
            <div>
                <img class="add"
                    src="https://cdn.dribbble.com/users/1355613/screenshots/7120671/media/d187103f38e1280c8cecb614d77ec724.jpg">
            </div>

            <div fxLayoutGap=" 8px">
                <button mat-stroked-button color="primary" (click)="opendialognewuser()">Add New User </button>
            </div>
        </div>
    </mat-card>
--------------------------------------------------------------------------------------------------
    
    <mat-form-field>
    <mat-label> Search </mat-label>
    <input fxLayoutAlign="stretch" matInput placeholder=" Search for a User" />
    <mat-icon matSuffix>search</mat-icon>
</mat-form-field>


<mat-table [dataSource]="dataSource">
    <ng-container matColumnDef="nom">
        <mat-header-cell *matHeaderCellDef>Nom</mat-header-cell>
        <mat-cell *matCellDef="let user">
            <img class="imageu" src="{{user.imageuser}}" alt="UserImage" />
            {{user.nom}}
        </mat-cell>
    </ng-container>

    <ng-container matColumnDef="prenom">
        <mat-header-cell *matHeaderCellDef>Prénom</mat-header-cell>
        <mat-cell *matCellDef="let user"> {{user.prenom}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="email">
        <mat-header-cell *matHeaderCellDef>E-Mail</mat-header-cell>
        <mat-cell *matCellDef="let user"> {{user.mail}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="numtel">
        <mat-header-cell *matHeaderCellDef>Numéro</mat-header-cell>
        <mat-cell *matCellDef="let user"> {{user.numtel}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="information">
        <mat-header-cell *matHeaderCellDef>Informations</mat-header-cell>
        <mat-cell *matCellDef="let user">
            <button mat-icon-button color="primary" (click)="opendialoguser(user)">
                <mat-icon> wysiwyg </mat-icon>
            </button>
            <button mat-icon-button color="warn" (click)=" BanUser(user)">
                <mat-icon> remove_circle_outline </mat-icon>
            </button>
        </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
</mat-table>
<br> -->


<!--
<mat-card *ngFor="let user of Userservice.User">
    <mat-card-header>
        <img matCardAvatar src="{{user.imageuser}}">
        <mat-card-title>{{user.nom}}</mat-card-title>
        <mat-card-subtitle>{{user.prenom}}</mat-card-subtitle>
    </mat-card-header>

    <mat-card-content>
        {{user.mail}}
        {{user.numtel}}
        {{user.motdepasse}}
    </mat-card-content>

    <mat-card-actions align="start">
        <button mat-button color="primary" (click)="onAction(event)">Voir Detailles</button>
        <button mat-button color="primary" (click)="onAction(event)">Banner</button>
        <button mat-button color="primary" (click)="onAction(event)">Supprimer</button>
    </mat-card-actions>
</mat-card>
-->