mat-card {
    padding: 30px;
    border-radius: 5px;
    border: none;
    width: 310px;
}
h2 {
    text-align: center;
}

.container {
    background-color: silver;
}
.mailrequired,
.passwordrequired,
.passwordlength,
.mailvalid {
    color: red;
}

/*
div {
    background-image: url("../../../assets/BackGround.png");
    background-repeat: no-repeat;
    background-size: cover;
}
*/
